{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load account_tags %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block main %}
<div id="modalContent">
    <form method="POST" action="">
        <legend>{% trans "Password reset" %}</legend>
        <p>{% trans "Enter your email address below, and we'll send you an email allowing you to reset your password." %}</p>
        <fieldset>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans "Reset my password" %}</button>
            </div>
        </fieldset>
    </form>

    <p>{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ DEFAULT_FROM_EMAIL }}">{{ DEFAULT_FROM_EMAIL }}</a>.{% endblocktrans %}</p>
</div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}