-e git://github.com/PaulUithol/backbone-tastypie#egg=Backbone_tastypie-0.2-py2.7-dev
BeautifulSoup==3.2.1
Django==1.4.8
PIL==1.1.7
South==0.7.6
Werkzeug==0.8.3
django-admin-tools==0.4.0
django-ajax-selects==1.2.5
django-appconf==0.6
-e git://github.com/eldarion/django-avatar#egg=django_avatar-2.0a2_eldarion-py2.7-dev
-e git://github.com/statesofpop/django-cal.git#egg=django_cal-0.2.1-py2.7-dev
-e git://github.com/jezdez/django_compressor.git#egg=django_compressor-1.2-py2.7-dev
django-crispy-forms==1.4.0
-e git://github.com/django-debug-toolbar/django-debug-toolbar#egg=django_debug_toolbar-0.9.4-py2.7-dev
-e git://github.com/dcramer/django-devserver.git#egg=django_devserver
django-extensions==0.6
-e git://github.com/pinax/django-forms-bootstrap.git#egg=django_forms_bootstrap-2.0.3.post1-py2.7-dev
django-imagekit==2.0.2
-e git://github.com/edavis/django-memcached.git#egg=django_memcached2-0.1-py2.7-dev
django-mptt==0.5.2
django-pjax==1.2
django-taggit-templatetags==0.4.5dev
django_tastypie==0.9.12
django-templatetag-sugar==0.1
-e git://github.com/pinax/django-user-accounts.git#egg=django_user_accounts-1.0b9-py2.7-dev
docutils==0.6
django-fixture-magic==0.0.4
fuzzywuzzy==0.1
gunicorn==18.0
mimeparse==0.1.3
odict==1.4.4
pystache==0.5.3
python-dateutil==1.5
pytz==2012d
raven==3.5.0
simplejson==2.0.9
vobject==0.8.1c
