/* line 11, ../sass/radres_base.sass */
.hidden {
  display: none;
}

/* line 14, ../sass/radres_base.sass */
.orange {
  color: #e0692a;
}

/* line 17, ../sass/radres_base.sass */
p, ul, dl, table {
  color: #444444;
}

/* line 20, ../sass/radres_base.sass */
dt {
  margin-top: 1.5em;
}
/* line 22, ../sass/radres_base.sass */
dt.inactive {
  color: gray;
}

/* line 25, ../sass/radres_base.sass */
#scroller-anchor {
  height: 0;
}

/* line 31, ../sass/radres_base.sass */
.new_month:hover, .new_week:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

/* line 35, ../sass/radres_base.sass */
#header {
  height: 50px;
  position: fixed;
  left: 0;
  top: 0px;
  z-index: 1040;
}
/* line 43, ../sass/radres_base.sass */
#header h1 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-weight: normal;
  font-size: 2.3em;
  color: gray;
  margin: 7px 0 0.5em 15px;
  line-height: 1;
}
/* line 51, ../sass/radres_base.sass */
#header h1 a {
  color: #737373;
}
/* line 53, ../sass/radres_base.sass */
#header h1 sup {
  font-size: 0.475em;
  vertical-align: 0.7em;
}

/* line 59, ../sass/radres_base.sass */
#header .account_bar, #header .search-bar {
  float: right;
  padding-right: 7px;
}
/* line 62, ../sass/radres_base.sass */
#header .search-bar {
  clear: right;
  margin-top: 20px;
}
/* line 65, ../sass/radres_base.sass */
#header #nav {
  float: right;
  padding-right: 0;
  clear: right;
  margin: 33px 0 0 0;
  list-style: none;
}
/* line 71, ../sass/radres_base.sass */
#header #nav li {
  float: left;
  border-left: 1px solid black;
  display: block;
  width: auto;
  padding: 0;
  position: relative;
  z-index: 500;
}
/* line 74, ../sass/radres_base.sass */
#header #nav li.first {
  border-left: none;
}
/* line 81, ../sass/radres_base.sass */
#header #nav li a {
  display: block;
  padding: 0px 5px;
  text-decoration: none;
  text-align: center;
  color: gray;
}
/* line 88, ../sass/radres_base.sass */
#header #nav ul {
  position: absolute;
  right: -7px;
  display: none;
  margin: 0 0 0 -1px;
  padding: 0;
  list-style: none;
}
/* line 95, ../sass/radres_base.sass */
#header #nav ul li {
  width: 110px;
  line-height: 3;
  float: left;
  border: 1px solid #bdbdbd;
  border-bottom: none;
}
/* line 101, ../sass/radres_base.sass */
#header #nav ul li.last {
  border-bottom: 1px solid #bdbdbd;
}
/* line 103, ../sass/radres_base.sass */
#header #nav ul li a {
  background-color: white;
}
/* line 105, ../sass/radres_base.sass */
#header #nav ul li a:hover {
  background-color: #e0e0e0;
}

/* line 109, ../sass/radres_base.sass */
#resources-1 h3 {
  color: #444444;
  font-family: Tahoma, Arial, sans-serif;
}

/* line 113, ../sass/radres_base.sass */
.info {
  font-weight: normal;
  font-size: 0.8em;
}

/* line 118, ../sass/radres_base.sass */
#body .clearme, #resources-3 .clearme {
  clear: both;
  zoom: 1;
}
/* line 121, ../sass/radres_base.sass */
#body h2, #resources-3 h2 {
  color: #444444;
  background: #e0e0e0 url(../images/h2bg.gif) no-repeat center left;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 1.39em;
  padding: 2px 0 2px 43px;
  margin-top: 3em;
  position: relative;
}
/* line 129, ../sass/radres_base.sass */
#body h2.first, #resources-3 h2.first {
  margin-top: 0;
}
/* line 131, ../sass/radres_base.sass */
#body h2.after-cal, #resources-3 h2.after-cal {
  margin-top: 0;
  clear: both;
  zoom: 1;
}
/* line 135, ../sass/radres_base.sass */
#body h2.schedule, #resources-3 h2.schedule {
  margin-bottom: 0;
}
/* line 137, ../sass/radres_base.sass */
#body h2 .mylabel, #resources-3 h2 .mylabel {
  font: 68% Arial, sans-serif;
  color: gray;
  position: absolute;
  top: 7px;
  right: 14px;
}
/* line 143, ../sass/radres_base.sass */
#body + h2, #resources-3 + h2 {
  margin-top: 0;
}

/* line 147, ../sass/radres_base.sass */
#resources-2 h4 {
  background: #bdbdbd url(../images/h3bg.gif) no-repeat center right;
  color: white;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1em;
  padding: 7px 0 7px 5px;
  position: relative;
}
/* line 155, ../sass/radres_base.sass */
#resources-2 h4 .my-label {
  font: 90% Arial, sans-serif;
  position: absolute;
  top: 8px;
  right: 40px;
}
/* line 160, ../sass/radres_base.sass */
#resources-2 #prev {
  text-align: right;
}
/* line 163, ../sass/radres_base.sass */
#resources-2 dd.active {
  -webkit-border-radius: 1em 0 1em 0;
  -moz-border-radius: 1em 0 1em 0;
  -ms-border-radius: 1em 0 1em 0;
  -o-border-radius: 1em 0 1em 0;
  border-radius: 1em 0 1em 0;
  background-color: #f6eef6;
  padding: 7px 7px;
  border: 1px solid #bdbdbd;
}
/* line 166, ../sass/radres_base.sass */
#resources-2 dd.active.even {
  -webkit-border-radius: 0 1em 0 1em;
  -moz-border-radius: 0 1em 0 1em;
  -ms-border-radius: 0 1em 0 1em;
  -o-border-radius: 0 1em 0 1em;
  border-radius: 0 1em 0 1em;
  background-color: #f6eef6;
  padding: 7px 7px;
}
/* line 168, ../sass/radres_base.sass */
#resources-2 dd.inactive {
  color: gray;
}
/* line 170, ../sass/radres_base.sass */
#resources-2 dd .div {
  font-weight: bold;
}
/* line 172, ../sass/radres_base.sass */
#resources-2 dd .start {
  clear: right;
  float: right;
  color: #bdbdbd;
}
/* line 181, ../sass/radres_base.sass */
#resources-2 #conferences dt.first {
  margin-top: 0;
}
/* line 183, ../sass/radres_base.sass */
#resources-2 #conferences .new_week {
  text-align: center;
}

/* line 187, ../sass/radres_base.sass */
#agenda dt {
  position: relative;
}
/* line 190, ../sass/radres_base.sass */
#agenda dt .week_day {
  font-weight: normal;
  letter-spacing: -1px;
}
/* line 205, ../sass/radres_base.sass */
#agenda dt .num_day {
  font-size: 150%;
}
/* line 207, ../sass/radres_base.sass */
#agenda dt .month {
  font-size: 150%;
  color: #bdbdbd;
  letter-spacing: -1px;
}
/* line 211, ../sass/radres_base.sass */
#agenda dd {
  margin-left: 0;
  font-size: 100%;
}
/* line 214, ../sass/radres_base.sass */
#agenda dd .div {
  font-weight: bold;
}
/* line 216, ../sass/radres_base.sass */
#agenda dd.inactive {
  color: gray;
}
/* line 218, ../sass/radres_base.sass */
#agenda dd.shift {
  color: #444444;
}
/* line 220, ../sass/radres_base.sass */
#agenda dd div {
  position: relative;
  -webkit-border-radius: 1em 0 1em 0;
  -moz-border-radius: 1em 0 1em 0;
  -ms-border-radius: 1em 0 1em 0;
  -o-border-radius: 1em 0 1em 0;
  border-radius: 1em 0 1em 0;
  background-color: #6acdc3;
  padding: 0px 7px;
  color: #444444;
}
/* line 225, ../sass/radres_base.sass */
#agenda dd.odd div {
  -webkit-border-radius: 0 1em 0 1em;
  -moz-border-radius: 0 1em 0 1em;
  -ms-border-radius: 0 1em 0 1em;
  -o-border-radius: 0 1em 0 1em;
  border-radius: 0 1em 0 1em;
  background-color: #6acdc3;
  padding: 0px 7px;
}
/* line 227, ../sass/radres_base.sass */
#agenda dd.odd div .conflict_label {
  -webkit-border-radius: 0 1em 0 1em;
  -moz-border-radius: 0 1em 0 1em;
  -ms-border-radius: 0 1em 0 1em;
  -o-border-radius: 0 1em 0 1em;
  border-radius: 0 1em 0 1em;
  background-color: #bc531b;
  padding: 0px 5px;
}
/* line 229, ../sass/radres_base.sass */
#agenda dd.inactive div {
  background-color: #a3e0da;
  color: #777777;
}
/* line 232, ../sass/radres_base.sass */
#agenda dd.active {
  -webkit-border-radius: 1em 0 1em 0;
  -moz-border-radius: 1em 0 1em 0;
  -ms-border-radius: 1em 0 1em 0;
  -o-border-radius: 1em 0 1em 0;
  border-radius: 1em 0 1em 0;
  background-color: #f6eef6;
  padding: 7px 7px;
  border: 1px solid #bdbdbd;
  top: 0px;
}
/* line 236, ../sass/radres_base.sass */
#agenda dd.active.odd {
  -webkit-border-radius: 0 1em 0 1em;
  -moz-border-radius: 0 1em 0 1em;
  -ms-border-radius: 0 1em 0 1em;
  -o-border-radius: 0 1em 0 1em;
  border-radius: 0 1em 0 1em;
  background-color: #f6eef6;
  padding: 7px 7px;
}
/* line 30, ../sass/_mixins.sass */
#agenda dd.day div {
  background-color: #d5c4b2;
  color: #444444;
}
/* line 33, ../sass/_mixins.sass */
#agenda dd.day.inactive div {
  background-color: #f0eae4;
  color: #777777;
}
/* line 30, ../sass/_mixins.sass */
#agenda dd.moon div {
  background-color: #eda883;
  color: #444444;
}
/* line 33, ../sass/_mixins.sass */
#agenda dd.moon.inactive div {
  background-color: #f7d7c6;
  color: #777777;
}
/* line 30, ../sass/_mixins.sass */
#agenda dd.ED div {
  background-color: #c88558;
  color: #e0e0e0;
}
/* line 33, ../sass/_mixins.sass */
#agenda dd.ED.inactive div {
  background-color: #dbaf92;
  color: white;
}
/* line 30, ../sass/_mixins.sass */
#agenda dd.IR div {
  background-color: #d5b3d5;
  color: #444444;
}
/* line 33, ../sass/_mixins.sass */
#agenda dd.IR.inactive div {
  background-color: #f0e4f0;
  color: #777777;
}
/* line 246, ../sass/radres_base.sass */
#agenda dd div .conflict_label {
  color: white;
  -webkit-border-radius: 1em 0 1em 0;
  -moz-border-radius: 1em 0 1em 0;
  -ms-border-radius: 1em 0 1em 0;
  -o-border-radius: 1em 0 1em 0;
  border-radius: 1em 0 1em 0;
  background-color: #bc531b;
  padding: 0px 5px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
/* line 255, ../sass/radres_base.sass */
#agenda dd.past div .conflict_label {
  background-color: #e47940;
}

/* line 260, ../sass/radres_base.sass */
body.calendar #calendar table {
  width: 100%;
}
/* line 262, ../sass/radres_base.sass */
body.calendar #calendar table td {
  width: 14.2857%;
}

/* line 266, ../sass/radres_base.sass */
body.calendar ul, body.full-calendar ul {
  list-style-type: none;
  margin: 0;
}

/* line 270, ../sass/radres_base.sass */
#agenda-cal {
  margin-top: 14px;
  margin-bottom: 27px;
}
/* line 273, ../sass/radres_base.sass */
#agenda-cal table {
  width: 100%;
  table-layout: fixed;
}
/* line 276, ../sass/radres_base.sass */
#agenda-cal table th, #agenda-cal table td {
  text-align: center;
  padding-right: 0;
}
/* line 280, ../sass/radres_base.sass */
#agenda-cal table td .shift {
  -webkit-border-radius: 1em 0 1em 0;
  -moz-border-radius: 1em 0 1em 0;
  -ms-border-radius: 1em 0 1em 0;
  -o-border-radius: 1em 0 1em 0;
  border-radius: 1em 0 1em 0;
  background-color: #6acdc3;
  padding: 0px 5px;
}
/* line 282, ../sass/radres_base.sass */
#agenda-cal table td .day .shift {
  background-color: #d5c4b2;
}
/* line 284, ../sass/radres_base.sass */
#agenda-cal table td .moon .shift {
  background-color: #eda883;
}
/* line 286, ../sass/radres_base.sass */
#agenda-cal table td .ED .shift {
  background-color: #c88558;
  color: #e0e0e0;
}
/* line 289, ../sass/radres_base.sass */
#agenda-cal table td .IR .shift {
  background-color: #d5b3d5;
}
/* line 291, ../sass/radres_base.sass */
#agenda-cal table td.today {
  background-color: #f6eef6;
  outline: 1px solid #bdbdbd;
}
/* line 294, ../sass/radres_base.sass */
#agenda-cal table td ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
