{% extends "layout_classic.html" %}

{% block main %}
    <div id="resources-3">

    <h2 class="first">UPMC MRI Protocols</h2>
    <ul class="mri-protocols-left">
        {% for filename in filenames|slice:':28' %}
            <li><a href="{{ filename }}.html">{{ filename }}</a></li>
        {% endfor %}
    </ul>
    <ul class="mri-protocols-right">
        {% for filename in filenames|slice:'28:' %}
            <li><a href="{{ filename }}.html">{{ filename }}</a></li>
        {% endfor %}
        <br />
    </ul>

    </div>
{% endblock %}