{% extends "site_base.html" %}
{% block body %}
<h2>UPMC Fluoro Protocols</h2>
   <p>
   <a href="{{ STATIC_URL }}docs/Double contrast esophagram.doc">
   Double contrast esophagram
   </a><br/>
   <br />
   <a href="{{ STATIC_URL }}docs/Single contrast upper GI series.doc">
   Single contrast upper GI series
   </a><br/>
   <br />
   <a href="{{ STATIC_URL }}docs/Double contrast upper GI series.doc">
   Double contrast upper GI series
   </a><br/>
   <br />
   <a href="{{ STATIC_URL }}docs/Single Contrast Barium Enema.doc">
   Single Contrast Barium Enema
   </a><br/>
   <br />
   <a href="{{ STATIC_URL }}docs/15 Pump method Barium Enema.doc">
   15 Pump method Barium Enema
   </a><br/>
   </p>
   <h2>Journal Articles</h2>
   <p>
   <a href="http://www.ajronline.org/cgi/reprint/139/6/1230.pdf">Barium Pneumocolon: Technologist Performed &quot;7 Pump&quot; Method</a><br /><br />

   <a href="http://radiology.rsna.org/content/215/3/642.full.pdf">Double Contrast Barium-Enema Examination Technique</a><br /><br />

   <a href="http://www.ajronline.org/cgi/reprint/154/2/279.pdf">Double-Contrast enema: a simplified method for filling the colon</a><br /><br />

   <a href="http://radiology.rsna.org/content/168/3/593.full.pdf">Double-Contrast Upper GI Examination: Technique and Interpretation</a><br /><br />
   </p>
{% endblock %}