{% extends "site_base.html" %}
{% block body %}
<table>
<tr valign="top"><td> </td>

  <th><h3>T1</h3></th>
  <th><h3>T2</h3></th>
  <th><h3>GRE</h3></th>
  <th><h3>PD</h3></th></tr>
<tr valign="top"><td><h4>Hyperintense</h4></td>
  <td><dl>
    <dt>Blood</dt>
     <dd>--methb</dd>
    <dt>Fat</dt>
    <dt>Proteins</dt>
    <dt>Melanin</dt>
    <dt>Some trace elements</dt>
    <dt>Some fungi</dt>
    <dt>Gd contrast</dt>
  </dl></td>
  <td><dl>
    <dt>Blood</dt>
     <dd>--oxyHb</dd>
     <dd>--extracellular methb</dd>
    <dt>Fat</dt>
    <dt>Low N/C ratio</dt>
    <dt>Fluid</dt>
    <dt>Cartilage</dt>
    <dt>Acute infract</dt>
    <dt>Chronic infarct</dt>
  </dl></td>
  <td><dl><dd>Flowing fluid</dd></dl></td>
  <td><dl><dd>T2</dd></dl></td>
</tr>
<tr valign="top">
  <td><h4>Hypointense</h4></td>
  <td><dl>
   <dt>Blood</dt>
    <dd>--deoxyhb</dt>
   <dt>water</dt>
   <dt>low N/C ratio</dt>
   <dt>Cartilage</dt>
   <dt>Bone</dt>
   <dt>Acute/</dt>
   <dt>Chronic</dt>
    <dd>--Infarct</dd>
  </dl></td>
  <td><dl>
    <dt>Blood</dt>
     <dd>--deoxyhb</dd>
     <dd>--intracellular methb</dd>
     <dd>--hemosiderin</dd>
    <dt>Increased NC ratio</dt>
     <dd>--lymphoma</dd>
     <dd>--fibrous tissue</dd>
     <dd>--extramedulary hematopoesis</dd>
    <dt>Gas</dt>
    <dt>Susceptibility artifact</dt>
  </dl></td>
  <td><dl>
   <dt>Blood</dt>
   <dt>Gas</dt>
   <dt>Calcium</dt>
   <dt>Metal</dt>
   <dt>Minerals</dt>
   <dt>Gad</dt>
  </dl></td>
  <td><dl><dt>Flow voids</dt></dl></td>
 </tr>
</table>
<br /><br />
<table>
 <tr valign="top"><th><h3>Sulcal
  FLAIR</h3></th>
  <th><h3>DWI/ADC</h3></th>
  <th><h3>Enhancement</h3></th></tr>
 <tr valign="top">
  <td><dl>
   <dt>Meningitis</dt>
   <dt>SAH</dt>
   <dt>Loss of BBB</dt>
    <dd>--near infarct</dd>
    <dd>--adjacent Tumor</dd>
   <dt>Backup of fluid</dt>
    <dd>--venous sinus thrombus</dd>
   <dt>Carcinomatosis</dt>
   <dt>Melanosis</dt>
   <dt>Anesthesia</dt>
   <dt>Leptomeningeal collaterals</dt>
   <dt>(Blood</dt>
   <dt>Puss</dt>
   <dt>Debri/protein</dt>
   <dt>Oxygen tension</dt>
   <dt>GAD</dt>
   <dt>Slow flow)</dt>
  </dl></td>
  <td><dl>
   <dt>Increased intracellular/decreased extracellular fluid</dt>
    <dd>--Acute infarct</dd>
    <dd>--Ischemic center of neoplasm</dd>
    <dd>--MS plaque-acute</dd>
    <dd>--Acute encephalitis</dd>
    <dd>--Jacob Creutzfeld Disease</dd>
   </dt>
   <dt>Relatively thick extracellular fluid</dt>
    <dd>-Abscess</dd>
    <dd>-Epidermoid</dd>
    <dd>-Subacute blood</dd>
   <dt>T2 shine through (differentiate on ADC)- can be seen in gliosis</dt>
    <dd>Dead cells</dd>
    <dd>Stunned cells - seizure, hypoglycemia</dd>
   <dt>Dense cells</dt>
   <dt>Vacuolated cells (prion Dz)</dt>
   <dt>Viscous collections (abscess)</dt>
  </dl></td>
  <td><dl>
   <dt>Loss of BBB</dt>
    <dd>--tumor</dd>
    <dd>--infarct after 1 week</dd>
    <dd>--trauma</dd>
   <dt>Leptomeningeal</dt>
    <dd>--Meningitis</dd>
    <dd>--Carcinomatosis</dd>
    <dd>--Vasculitis/neurosarcoid</dd>
    <dd>--Moyamoya</dd>
    <dd>--Sturge Weber</dd>
    <dd>--Low CSF pressure</dd>
   <dt>Pachymeningeal</dt>
    <dd>--IC hypotension</dd>
    <dd>--Meningitis</dd>
    <dd>--Carcinomatosis</dd>
    <dd>--Sarcoid</dd>
    <dd>--Idiopathic</dd>
  </dl></td>
 </tr>
</table>
{% endblock %}