<h3>Important Links </h3>

<p>
    <a href="https://mail.upmc.edu/exchange/">Outlook E-mail</a><br/>
    <a href="https://www1.gotomeeting.com/join/614888904">GoToMeeting conferences</a><br/>
    <a href="https://myhub.upmc.com/psp/hrpa/?cmd=login">MyHub</a>
</p>
<!--<a href="https://upmcradiologyconference.webex.com/mw0302l/mywebex/default.do?siteurl=upmcradiologyconference">WebEx conferences</a><br />-->
<br/>

<h3>UPMC Links*</h3>
<p>
    <a href="http://spis.upmc.com/psd/home/Radiology/resident/default.aspx">Resident's Corner</a><br/>
    <a href="http://spis.upmc.com/psd/home/Radiology/Shared%20Documents/Forms/AllItems.aspx">Schedules</a><br/>
    <a href="http://spis.upmc.com/psd/home/Radiology/resident/Shared%20Documents/Phone%20Directory.xls">Phone
        Directory</a><br/>
    <a href="https://medtrak.upmc.com/PagingDirectory/Default.aspx">Paging Directory</a><br/>
    <a href="\\acct.upmchs.net\psd\Radiology">Network shares</a>
</p>
<br/>

<h3>Applications</h3>
<p>
    <a href="http://stentor.upmc.edu/radview">iRadiology Lite</a><br/>
    <a href="http://idas.upmc.com/idas/">IDAS Report Portal</a>
</p>
<br/>

<h3>Subscriptions</h3>
<p>
    <a href="https://my.statdx.com">StatDx</a><br/>
    <a href="https://app.radprimer.com/login">RADPrimer</a>
</p>
<br/>

<h3>On Call Info</h3>
<p>
    <a href="https://spis.upmc.com/psd/home/Radiology/resident/Shared%20Documents/Call%20and%20Moonlighting/Call%20Coverage%202011-2012.doc">Resident
        Call Coverage</a> <br/>
    <a href="https://spis.upmc.com/psd/home/Radiology/resident/Shared%20Documents/Call%20and%20Moonlighting/Procedures%20on%20call%20-%20PUH,%20SHY,%20Mercy,%20Magee.pdf">IR
        call chart</a><br/>
    <a href="https://spis.upmc.com/psd/home/Radiology/resident/Shared%20Documents/Call%20and%20Moonlighting/Moonlighting%20Guide%202011-2012.doc">Moonlighting
        Rules</a> <a href="{{ STATIC_URL }}docs/Moonlighting Guide.doc">(old)</a>
</p>
<p class="info">*Use <a href="https://connect.upmc.com/">CONNECT@UPMC</a> off-campus</p>
<br/>

<h3>Forms</h3>
<p>
    <a href="{{ STATIC_URL }}docs/Request_for_Days_Off.doc">Request for leave form</a><br/>
    <a href="{{ STATIC_URL }}docs/Tele%20Sheet%20FY12.xls">Moonlighting tele form</a>
</p>
<br/>

<h3>Old Stuff</h3>
<p>
    <a href="{{ STATIC_URL }}docs/ContactNumbers.doc">Overnight Contact #'s</a> <br/>
    <a href="{{ STATIC_URL }}docs/TechPaging.doc">Tech paging chart</a><br/>
    <a href="{{ STATIC_URL }}docs/Helpful%20Phone%20Numbers%20for%20SHY%20Call.doc">Helpful #'s for SHY
        call </a>
</p>

<h6>1st years</h6>
<p>
    <a href="http://www.med-ed.virginia.edu/courses/rad/">Introduction to Radiology</a><br/>
    <a href="http://www.sciencedirect.com/science?_ob=MImg&_imagekey=B75BK-49XWK3S-2B-1&_cdi=12985&_user=10&_orig=search&_coverDate=05%2F31%2F2003&_sk=999899994&view=c&wchp=dGLbVzb-zSkWA&md5=ac05e3982497c1c0d87fcc9d63b892c7&ie=/sdarticle.pdf">What
        makes a great resident?</a>
</p>
<h6><a href="{{ STATIC_URL }}docs/afipfordummies.htm">AFIP for dummies</a></h6>
<p>Needs updated for AIRP</p>
{#        <a href="http://www.jotform.com/grid/73020344120" target="_blank"> Great AFIP Cases</a>#}
<br/>